/*.inc
squashfuse
squashfuse_ll
squashfuse_ls
squashfuse_extract
*.dSYM
*.o
*.lo
*.la

*.tar.gz

.libs
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
/config.*
configure
libtool
stamp-h1
*.pc

win/Debug
win/Release
*.sdf
*.opensdf
*.suo
*.vcxproj.user

ci/features
tests/lib.sh
tests/ll-smoke.sh
tests/umount-test.sh
